body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 72px;
}

.header-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo {
  margin-right: 76px;
}

.header-logo {
  color: #2e2f42;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.header-logo-blue {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.header-menu {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.header-menu li:not(:first-child) {
  margin-left: 40px;
}

.header-menu-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-menu-item {
  color: #2e2f42;
}

.header-menu-link:hover,
:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.address-list li:not(:first-child) {
  margin-left: 40px;
}

.address-list-item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.address-list-link {
  color: #434455;
}

.address-list-link:hover,
:focus {
  color: #404bbf;
}

.section-hero-image {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
}

.section-order-button {
  margin-top: 48px;
  cursor: pointer;
}

.section-title {
  width: 496px;
  margin: 0px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-order-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
}

.section-order-button:hover {
  background-color: #404bbf;
}

.section-order-button:focus {
  background-color: #404bbf;
}

.our-goals {
  padding: 156px 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goals-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goals-list-item {
  width: 264px;
}

.goals-list-item:not(:first-child) {
  margin-left: 24px;
}

.goals-list-title {
  margin-bottom: 8px;
  margin-top: 0;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.goals-list-text {
  margin: 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.title {
  margin-top: 0;
  margin-bottom: 72px;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 732px;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 32px;
}

.team-list-item {
  background-color: #ffffff;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 156px 120px;
  width: 100%;
  border: 1px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px 24px;
}

.team-people-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-people-position {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.photo-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.photo-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer {
  width: 1440px;
  height: 312px;
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 156px;
}

.footer-text {
  width: 264px;
  height: 112px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-link {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-logo-white {
  color: #f4f4fd;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}
